.category-popup {
  width: 80vw;
  height: 80vh;
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item-container {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.item-container:hover {
  background-color: #f0f0f0;
}

.item-container.added {
  background-color: #d4edda;
  transform: scale(1.05);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.item-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.item-price {
  color: #007bff;
}
