.category-popup {
  width: 80vw; /* 80% of the viewport width */
  height: 80vh; /* 80% of the viewport height */
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove margin */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item-container {
  width: 200px; /* Default width */
  padding: 20px; /* Default padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.item-container:hover {
  background-color: #f0f0f0;
}

.item-container.added {
  background-color: #d4edda; /* Light green to indicate success */
  transform: scale(1.05); /* Slightly enlarge the container */
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.item-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.item-price {
  color: #007bff;
}
