.create-table-popup {
  width: 50vw; /* 50% of the viewport width */
  height: 50vh; /* 50% of the viewport height */
}

.input-label {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

.table-number-input {
  width: 100px; /* Narrower width */
  height: 40px; /* Taller height */
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 16px;

  /* Remove arrows for number input */
  -moz-appearance: textfield; /* For Firefox */
  -webkit-appearance: none; /* For Chrome, Safari, and Edge */
  appearance: none;
}

.table-number-input::-webkit-inner-spin-button,
.table-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove arrows for WebKit browsers */
  margin: 0;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}
