.receipts-view-popup {
  width: 70%; /* 70% of the screen width */
  max-width: 90%;
  height: 70%; /* 70% of the screen height */
}

.receipts-view-header {
  border-bottom: 1px solid #ddd; /* Creates the line under the header */
}

.receipts-view-title {
  font-size: 24px; /* Increased font size for the title */
  font-weight: bold;
}

.receipts-view-close-button {
  position: absolute; /* Keep the button inside the header */
  top: 50%; /* Aligns vertically to the center of the header */
  right: 20px; /* Adds spacing from the right edge */
  transform: translateY(-50%); /* Adjusts for vertical centering */
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.receipts-view-close-button:hover {
  color: rgba(255, 0, 0, 0.3); /* Transparent red color on hover */
}

.receipts-view-date-picker-container {
  margin: 20px 0;
}

.receipts-view-date-picker-container input {
  padding: 5px 10px;
  font-size: 14px;
}

.receipts-view-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.receipts-view-table th,
.receipts-view-table td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.receipts-view-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.receipts-view-table tr:hover {
  background-color: #f9f9f9;
}
