.receipt-details-popup {
  width: 60%; /* 60% of the screen width */
  max-width: 800px; /* Maximum width of the popup */
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.details-table thead th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.details-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.details-table tbody tr:hover {
  background-color: #f9f9f9;
}

.details-table th:nth-child(3),
.details-table td:nth-child(3) {
  text-align: right; /* Align the total price column to the right */
}
